@import '../../variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  .modal-main {
    position: fixed;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #fff;
    width: 95%;
    height: auto;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
