@import '../../variables.scss';

.landing-view {
  @include flex(column, center, space-between);
  height: 100vh;
  text-align: center;
  .content {
    @include ssm;
    margin-top: 5rem;
    line-height: 3rem;
    @include flex(column, space-between, stretch);
    flex: auto;
    h2 {
      color: $pc;
      font-weight: 500;
    }
    p {
      line-height: 1.5rem;
    }
    button {
      margin-top: 1rem;
      width: 100%;
      @include button($pc, #fff);
    }

    .footer {
      @include footer;
    }
  }
}
