@import '../../variables.scss';

.landing-view {
  background-color: #fff;
  @include flex(column, space-between, normal);
  height: 100vh;
  text-align: center;
  .content {
    margin: 5rem auto 0;
    @include flex(column, space-between, center);
    flex: auto;
    h2 {
      color: $pc;
      font-weight: 500;
    }
    p {
      padding: 1rem 0;
    }
    .button {
      width: 95%;
      margin: 0 auto;
      button {
        margin-top: 1rem;
        width: 100%;
        @include button($pc, #fff);
      }

      @include width-tablet;
      @include width-desktop;
    }

    .footer {
      @include footer;
      padding-bottom: 1rem;
    }
  }
}
