$pc: #1877f2;

@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin button($bc, $color) {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: $bc;
  color: $color;
}

@mixin input {
  height: 2.3rem;
  border: 1px #888 solid;
  border-radius: 5px;
  padding-left: 5px;
  &::placeholder {
    padding-left: 2px;
  }
}

@mixin footer {
  margin-top: auto;
  width: 100%;
  hr {
    color: #ddd;
    opacity: 0.3;
  }
  a {
    text-decoration: none;
    color: #444;
  }
}

@mixin circle($length) {
  width: $length;
  height: $length;
  border-radius: 50%;
  background-color: #ddd;
  @include flex(row, center, center);
}

@mixin ssm {
  margin: 0 1rem;
}

@mixin msm {
  margin: 0 2rem;
}

@mixin lsm {
  margin: 4rem;
}

@mixin xlsm {
  margin: 4rem;
}
