$pc: #1877f2;
$sc: #eef2f7;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin button($bc, $color) {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: $bc;
  color: $color;
}

@mixin input {
  height: 2.5rem;
  border: 1px #888 solid;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 0.1rem;
  &::placeholder {
    padding-left: 2px;
  }
  @media screen and(min-width: $breakpoint-tablet) {
    height: 3rem;
    margin-top: 0.2rem;
  }
}

@mixin footer {
  margin-top: auto;
  width: 100%;
  hr {
    color: #ddd;
  }
  a {
    text-decoration: none;
    color: #444;
  }
}

@mixin circle($length) {
  width: $length;
  height: $length;
  border-radius: 50%;
  background-color: #eee;
  @include flex(row, center, center);
}

@mixin textarea {
  border: none;
  width: 100%;
  height: 6rem;
  resize: none;
  outline: none;
  &::placeholder {
    color: #ddd;
    padding-left: 0.2rem;
  }
}

@mixin box-shadow {
  box-shadow: 0 0 0.5 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

@mixin side-pane {
  .desktop {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    .content {
      width: 100%;
      @media screen and(min-width: $breakpoint-tablet) {
        width: 80%;
      }
      @media screen and(min-width: $breakpoint-desktop) {
        margin: 0 0 0 1rem;
        width: 60%;
      }
    }
    .side-pane {
      background-color: #fff;
      @media screen and(max-width: 1000px) {
        display: none;
      }
    }
  }
}
