$pc: #1877f2;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin button($bc, $color) {
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: $bc;
  color: $color;
}

@mixin input {
  height: 2.3rem;
  border: 1px #888 solid;
  border-radius: 5px;
  padding-left: 5px;
  &::placeholder {
    padding-left: 2px;
  }
}

@mixin footer {
  margin-top: auto;
  width: 100%;
  hr {
    color: #ddd;
    opacity: 0.3;
  }
  a {
    text-decoration: none;
    color: #444;
  }
}

@mixin circle($length) {
  width: $length;
  height: $length;
  border-radius: 50%;
  background-color: #eee;
  @include flex(row, center, center);
}

@mixin width-phone {
  width: 90%;
}

@mixin width-tablet {
  width: 80%;
}

@mixin width-desktop {
  width: 60%;
}

@mixin textarea {
  border: none;
  width: 100%;
  height: 6rem;
  resize: none;
  outline: none;
  margin: 0.5rem;
  &::placeholder {
    color: #ddd;
  }
}
