@import '../../variables.scss';

.homepage {
  .content {
    margin: 0 auto;
    .make-a-post {
      @include box-shadow;
      padding: 1rem;
      @media screen and (min-width: $tablet) {
        margin-top: 1rem;
      }
    }
    .display-post {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      @include box-shadow;
    }

    @media screen and(min-width: $desktop) {
      margin: 0 0 0 1rem;
    }
  }
  @include side-pane;
}
