@import '../../variables.scss';

.homepage {
  .content {
    margin: 0 auto;
    .display-post {
      background-color: #fff;
      margin-top: 1rem;
      padding: 1rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}
