@import '../../variables.scss';

.profile-view {
  height: 100vh;
  .header {
    width: 100%;
    height: 20vh;
    background-image: url(../../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bio {
    .profile-avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #fff;
      @include flex(row, center, center);
      position: absolute;
      top: 8rem;
      right: 40vw;
    }
    p {
      text-align: center;
      margin-top: 4rem;
    }
  }

  .content {
    @include width-phone;
    margin: 1rem auto 0;
    .make-a-post {
      @include box-shadow;
      padding: 1rem;
    }
    .display-post {
      @include box-shadow;
      padding: 1rem;
      margin-top: 0.5rem;
    }
  }
}
