@import '../../variables.scss';

.view-post {
  .content {
    margin: 0 auto;
    .post {
      @include box-shadow;
      padding: 0.5rem 1rem;
      margin: 1rem auto;
    }
    .view-post-comment {
      margin: 0 auto;
      width: 95%;

      textarea {
        @include textarea;
        margin: 1rem 0;
        border-radius: 0.5rem;
      }
      button {
        @include button($pc, #fff);
        width: 100%;
      }
    }
    @media screen and (min-width: $breakpoint-tablet) {
      margin: 2rem auto;
      width: 80%;
      .view-post-comment {
        width: 100%;
      }
    }
    @media screen and (min-width: $breakpoint-tablet) {
      margin: 3rem auto;
      width: 75%;
      .view-post-comment {
        width: 100%;
        textarea {
          margin: 2rem auto;
        }
      }
    }
  }
}
