@import '../../variables.scss';

.profile {
  height: 100vh;
  .header {
    width: 100%;
    height: 20vh;
    background-image: url(../../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: $breakpoint-tablet) {
      height: 25vh;
    }
  }
  .bio {
    .profile-avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #fff;
      @include flex(row, center, center);
      position: relative;
      bottom: 2rem;
      left: 40vw;
      @media screen and (min-width: $breakpoint-tablet) {
        left: 44vw;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        left: 46vw;
      }
    }
    p {
      text-align: center;
    }
  }

  .content {
    .make-a-post {
      @include box-shadow;
      padding: 1rem;
    }
    .display-post {
      @include box-shadow;
      padding: 1rem;
      margin-top: 0.5rem;
    }
    @media screen and(min-width: $breakpoint-tablet) {
      width: 90%;
    }
  }
  @include side-pane;
}
