@import '../../variables.scss';

.profile {
  height: 100vh;
  width: 100%;
  .header {
    width: 100%;
    height: 20vh;
    background-color: $pc;
    background-size: cover;
    @media screen and (min-width: $tablet) {
      height: 30vh;
    }

    @media screen and (min-width: $desktop) {
      height: 40vh;
    }
  }
  .bio {
    @include flex(column, center, center);
    .profile-avatar {
      position: relative;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: #fff;
      @include flex(row, center, center);
      bottom: 2rem;
    }
  }

  .content {
    .make-a-post {
      @include box-shadow;
      padding: 1rem;
    }
    .display-post {
      @include box-shadow;
      padding: 1rem;
      margin-top: 0.5rem;
    }
  }
  @include side-pane;
}
