@import '../../variables.scss';

.make-post {
  .mp-content {
    @include flex(row, flex-start, center);
    .avatar {
      @include circle(3rem);
    }
    a {
      text-decoration: none;
      margin-left: 1rem;
      margin-bottom: 0;
      color: #555;
    }
  }
}
