@import '../../variables.scss';

.post-text {
  margin-top: 1.5rem;
}
.post-footer {
  @include flex(row, space-between, center);
}

.like {
  display: flex;
  .like-icon {
    width: 1rem;
  }
  span {
    margin-left: 3px;
  }
}

.like-comment-popup {
  display: flex;
  justify-content: space-between;
  .popup-left {
    justify-self: flex-start;
  }
  .popup-right {
    justify-self: flex-end;
    margin-left: auto;
  }
  .popup-icon {
    width: 1rem;
  }
}
