@import '../../variables.scss';

.post-text {
  margin-top: 1.5rem;
}
.post-footer {
  @include flex(row, space-between, center);
}

.like {
  display: flex;
  .like-icon {
    width: 1rem;
  }
  span {
    margin-left: 3px;
  }
}

.like-comment-popup {
  display: flex;
  justify-content: space-between;
  .popup-left {
    justify-self: flex-start;
  }
  .popup-right {
    justify-self: flex-end;
    margin-left: auto;
  }
  .popup-icon {
    width: 1rem;
  }
}

.add-comment-bar {
  @include flex(row, space-between, center);
  .add-comment-bar-avatar {
    @include circle(3rem);
  }
  input {
    background-color: $sc;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 1rem;
    outline: none;
    width: 15rem;
  }
  .send-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #666;
  }
}
