@import '../../variables.scss';

.login-view {
  @include flex(column, space-between, normal);
  height: 100vh;
  .header {
    margin: 0;
    height: 20vh;
    width: 100%;
    background-image: url(../../images/bg2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: $breakpoint-tablet) {
      height: 25vh;
    }
  }
  .content {
    @include flex(column, space-between, center);
    margin: 3rem auto 0;
    width: 90%;
    flex: auto;
    form {
      @include flex(column, space-between, normal);
      width: 100%;
      input {
        @include input;
        width: 100%;
      }

      button {
        margin-top: 1.5rem;
        width: 100%;
        @include button($pc, #fff);
      }
    }
    .footer {
      margin-top: auto;
      width: 100%;

      .divider {
        @include flex(row, center, center);
      }
      button {
        width: 100%;
        @include button(#edf7fa, $pc);
        margin-top: 10px;
      }
    }
    @media screen and (min-width: $breakpoint-tablet) {
      width: 50%;
    }
  }
}
