@import '../../variables.scss';

.login-view {
  @include flex(column, center, space-between);
  height: 100vh;
  .header {
    margin: 0;
    height: 20vh;
    width: 100%;
    background-image: url(../../images/bg1.jpg);
    background-size: contain;
  }
  .content {
    @include flex(column, space-between, center);
    @include width-phone;
    margin: 3rem auto 0;
    flex: auto;
    form {
      width: 100%;
      input {
        @include input;
        width: 100%;
      }
      .email {
      }
      button {
        margin-top: 1.5rem;
        width: 100%;
        @include button($pc, #fff);
      }
    }
    .footer {
      margin-top: auto;
      width: 100%;

      .divider {
        @include flex(row, center, center);
      }
      button {
        width: 100%;
        @include button(#edf7fa, $pc);
        margin-top: 10px;
      }
    }
  }
}
