@import '../../variables.scss';

.update-post {
  .content {
    @include box-shadow;
    margin: 1rem auto 0;
    padding: 1rem;
    @include flex(column, space-around, stretch);
    p {
      text-align: center;
    }
    .avatar {
      @include circle(3rem);
    }
    textarea {
      @include textarea;
    }
  }
  .buttons {
    @include flex(row, space-between, center);
    width: 100%;
    margin: 1rem auto;
    button {
      @include button($pc, #fff);
      width: 48%;
    }
  }
  @media screen and(min-width: $tablet) {
    .content {
      width: 80%;
      p {
        font-size: 1.5rem;
      }
    }
    .buttons {
      width: 80%;
      button {
        font-size: 1.5rem;
        height: 3rem;
      }
    }
  }
  @media screen and(min-width: $desktop) {
    .content {
      width: 75%;
      margin: 3rem auto 0;
    }
    .buttons {
      width: 75%;
      margin: 2rem auto;
    }
  }
}
