@import '../../variables.scss';

.update-post {
  .content {
    @include box-shadow;
    margin: 1rem auto 0;
    padding: 1rem;
    @include flex(column, space-around, stretch);
    p {
      text-align: center;
    }
    .avatar {
      @include circle(3rem);
    }
    textarea {
      @include textarea;
    }
  }
  .buttons {
    @include flex(row, space-evenly, center);
    width: 100%;
    margin-top: 1rem;
    a,
    button {
      @include button($pc, #fff);
      width: 45%;
    }
  }
}
