@import '../../variables.scss';

.create-account-view {
  margin: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    width: 90%;
    flex: auto;
    margin: 0 auto;
    padding: 2rem 0 1rem;
    text-align: center;
    @include flex(column, space-around, stretch);

    .name {
      @include flex(column, center, stretch);
    }
    .gender {
      margin: 0 auto;
      width: 25%;
      label {
        @include flex(row, space-between, center);
      }
    }
    h3 {
      font-weight: 500;
    }
    h6 {
      margin: 1rem 0;
    }
    p {
      color: #aaa;
      font-weight: 700;
      font-size: 1.2rem;
    }
    input:not([type='radio']) {
      @include input;
      width: 98%;
    }
    button {
      margin: 2rem 0 1rem 0;
      @include button($pc, #fff);
    }

    .footer {
      margin-top: auto;
      @include footer;
    }
    @media screen and (min-width: $tablet) {
      width: 50%;
    }
  }
}
