@import '../../variables.scss';

.create-account-view {
  background-color: #fff;
  @include flex(column, space-evenly, stretch);
  margin: 0;
  .content {
    margin: 1rem auto;
    text-align: center;
    @include flex(column, space-around, stretch);

    .name {
      @include flex(column, center, stretch);
    }
    .gender {
      @include flex(column, space-evenly, center);
      label {
        width: 28%;
        @include flex(row, space-between, center);
        input {
          width: 15%;
        }
      }
    }
    h2 {
      font-weight: 600;
    }
    h6 {
      margin: 1rem 0;
    }
    p {
      color: #aaa;
      font-weight: 700;
      font-size: 1.2rem;
    }
    input {
      @include input;
      width: 98%;
    }
    button {
      margin: 2rem 0 1rem 0;
      @include button($pc, #fff);
    }

    .footer {
      @include footer;
    }
  }
}
