@import '../../variables.scss';

.create-post {
  .content {
    width: 90%;
    @include box-shadow;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    p {
      text-align: center;
    }
    .avatar {
      @include circle(3rem);
    }
    textarea {
      @include textarea;
    }
    @include width-tablet;
    @include width-desktop;
  }

  .button {
    width: 90%;
    margin: 0 auto;
    @include width-tablet;
    @include width-desktop;
    button {
      @include button($pc, #fff);
      width: 100%;
    }
    @include width-tablet;
    @include width-desktop;
  }
}
