@import '../../variables.scss';

.create-post {
  .content {
    @include width-phone;
    margin: 0 auto;
    @include flex(column, space-around, stretch);
    p {
      text-align: center;
    }
    .avatar {
      @include circle(3rem);
    }
    textarea {
      border: none;
      width: 100%;
      height: 6rem;
      resize: none;
      outline: none;
      margin: 0.5rem;
      &::placeholder {
        color: #ddd;
      }
    }
    button {
      @include button($pc, #fff);
    }
  }
}
