@import '../../variables.scss';

.create-post {
  .content {
    @include box-shadow;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    width: 90%;
    p {
      text-align: center;
    }
    .avatar {
      @include circle(3rem);
    }
    textarea {
      @include textarea;
      margin-top: 0.5rem;
    }
  }

  .button {
    width: 90%;
    margin: 0 auto;
    button {
      @include button($pc, #fff);
      width: 100%;
    }
  }
  @media screen and(min-width: $breakpoint-tablet) {
    .content {
      width: 80%;
      margin: 2rem auto;
      p {
        font-size: 1.5rem;
      }
    }
    .button {
      width: 80%;
      button {
        height: 3rem;
        font-size: 1.5rem;
      }
    }
  }
  @media screen and(min-width: $breakpoint-desktop) {
    .content {
      width: 75%;
    }
    .button {
      width: 75%;
    }
  }
}
