@import '../../variables.scss';

.main-header {
  position: sticky;
  background-color: #fff;
  display: flex;
  top: 0;
  @include flex(row, space-between, center);
  padding: 1rem;
  @media screen and(min-width: $breakpoint-tablet) {
    padding: 2rem 4.6rem;
  }
  @media screen and(min-width: $breakpoint-desktop) {
    padding: 3rem 7.8rem 2rem;
  }
  a {
    text-decoration: none;
    color: $pc;
  }
  .icons {
    @include flex(row, space-evenly, center);
    .search,
    .person {
      @include circle(2rem);
    }
  }
}
