@import '../../variables.scss';

.main-header {
  position: sticky;
  background-color: #fff;
  display: flex;
  top: 0;
  @include flex(row, space-between, center);
  @media screen and(min-width: $breakpoint-tablet) {
    padding: 0.5rem 2rem;
  }
  a {
    text-decoration: none;
    color: $pc;
    .logo {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: $pc;
      color: #fff;
      font-weight: 900;
      font-size: 1.5rem;
      font-family: 'Roboto', sans-serif;
      @include flex(row, center, center);
    }
  }
  .icons {
    @include flex(row, space-evenly, center);
    .search,
    .person {
      @include circle(2rem);
    }
  }
}
