@import '../../variables.scss';

.main-header {
  display: flex;
  @include flex(row, space-between, center);
  margin: 1rem;
  a {
    text-decoration: none;
    color: $pc;
  }
  .icons {
    @include flex(row, space-evenly, center);
    .search,
    .person {
      @include circle(2rem);
    }
  }
}
