@import '../../variables.scss';

.feed-header {
  margin: 1.5rem auto 1rem;
  .fh-content {
    margin: 0;
    @include flex(row, space-between, start);
    .left {
      @include flex(row, flex-start, center);
      .author-and-time {
        margin-left: 1rem;
        .time {
          color: #888;
        }
      }
    }
  }
}

.modal .modal-dialog {
  .icon {
    margin: 0 2rem;
  }
}
