@import '../../variables.scss';

.feed-header {
  margin-left: 0;
  .content {
    margin-left: 0;
    @include flex(row, flex-start, center);
    .avatar {
      @include circle(3rem);
    }
    .author-and-time {
      margin-left: 1rem;
      .time {
        color: #888;
      }
    }
  }
}
